<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\packages" />
  </config>

  <packageSources>
    <clear />
    <add key="offline" value="..\.offline-nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-themeforge" value="https://nuget.pkg.github.com/VBlackJack/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github-themeforge>
      <add key="Username" value="VBlackJack" />
      <add key="ClearTextPassword" value="%THEMEFORGE_PACKAGES_TOKEN%" />
    </github-themeforge>
  </packageSourceCredentials>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
